.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-brand {
  width: 25%;
}


.navbar-nav {
  width: 76%;
}

.navbar-nav>li {
padding: 15px;
width:33%;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #47515c;
}

#partners img {
  width: 125px;
  display: block;
  margin: auto;
}

.navbar {
  min-height: 100px;
}

.navbar-expand-lg .navbar-nav {
  width: 100%
}

.navbar-expand-lg>div>ul>.nav-item {
  width: 20%
}

.sticky-subnav.navbar-expand-lg>div>ul>.nav-item {
  width: 20%
}

.navbar-expand-lg .show>ul>.nav-item {
  text-align: right;
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.nav-item {
  text-align: center;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link {
  /* color: #515457; */
}

.navbar-dark .navbar-nav .nav-link:hover {
  text-shadow: 0 0 10px rgba(255,255,255,.25);
  color: #ed6f2f;
}
