#ventures a {
  transition: all 0.2s ease-in-out;
  background-size: cover;
  /* min-height: 250px; */
  /* width: 250px; */
  margin: auto;
}

.grow {
  transition: all 0.2s ease-in-out;
  background-size: cover;
  display: grid;
  min-height: 250px;
  min-width: 250px;
  margin: 1em;
}

@media only screen and (max-width: 480px) {
  #ventures a {
    transition: all 0.2s ease-in-out;
    background-size: cover;
    width: 100%;
    margin: 0;
    display: grid;
  }

  .grow {
    transition: all 0.2s ease-in-out;
    background-size: cover;
    /* height: 250px; */
    width: 100%;
    padding-top: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  #partners a {
    transition: all 0.2s ease-in-out;
    background-size: cover;
    width: 100%;
    margin: 0;
    display: grid;
  }

  .grow {
    transition: all 0.2s ease-in-out;
    background-size: cover;
    /* height: 250px; */
    width: 100%;
    padding-top: 100%;
    margin: auto;
  }
}

.grow:hover {
  transform: scale(1.1);
  background-color: #f5633b;
  background-size: cover;
}

.i1 {
  background-image: url(/assets/img/ventures/doubletapp-grey.png);
}

.i1:hover {
  background-image: url(../../assets/img/ventures/doubletapp-orange.png);
}

.i2 {
  background-image: url(/assets/img/ventures/bold-voices-grey.png);
}

.i2:hover {
  background-image: url(../../assets/img/ventures/bold-voices-orange.png);
}

.i3 {
  background-image: url(/assets/img/ventures/myndup-grey.png);
}

.i3:hover {
  background-image: url(../../assets/img/ventures/myndup-orange.png);
}

.i4 {
  background-image: url(/assets/img/ventures/pips-grey.png);
}

.i4:hover {
  background-image: url(../../assets/img/ventures/pips-orange.png);
}

.i5 {
  background-image: url(/assets/img/ventures/dream-nation-grey.png);
}

.i5:hover {
  background-image: url(../../assets/img/ventures/dream-nation-orange.png);
}

.i6 {
  background-image: url(/assets/img/ventures/blacwxlf-grey.png);
}

.i6:hover {
  background-image: url(../../assets/img/ventures/blacwxlf-orange.png);
}

.i7 {
  background-image: url(/assets/img/ventures/homefinder-grey.png);
}

.i7:hover {
  background-image: url(../../assets/img/ventures/homefinder-orange.png);
}

.i8 {
  background-image: url(/assets/img/ventures/traktion-grey.png);
}

.i8:hover {
  background-image: url(../../assets/img/ventures/traktion-orange.png);
}

.i9 {
  background-image: url(/assets/img/ventures/discover-consultancy-grey.png);
}

.i9:hover {
  background-image: url(../../assets/img/ventures/discover-consultancy-orange.png);
}

.i10 {
  background-image: url(/assets/img/ventures/activate-grey.png);
}

.i10:hover {
  background-image: url(../../assets/img/ventures/activate-orange.png);
}

.i11 {
  background-image: url(/assets/img/ventures/aviation-experience-days-grey.png);
}

.i11:hover {
  background-image: url(../../assets/img/ventures/aviation-experience-days-orange.png);
}

.i12 {
  background-image: url(/assets/img/ventures/gifter-grey.png);
}

.i12:hover {
  background-image: url(../../assets/img/ventures/gifter-orange.png);
}

.i13 {
  background-image: url(/assets/img/ventures/mix-and-rise-grey.png);
}

.i13:hover {
  background-image: url(../../assets/img/ventures/mix-and-rise-orange.png);
}

.i14 {
  background-image: url(/assets/img/ventures/circle-grey.png);
}

.i14:hover {
  background-image: url(../../assets/img/ventures/circle-orange.png);
}

.i15 {
  background-image: url(/assets/img/ventures/lingupp-grey.png);
}

.i15:hover {
  background-image: url(../../assets/img/ventures/lingupp-orange.png);
}

.i16 {
  background-image: url(/assets/img/ventures/lokal-grey.png);
}

.i16:hover {
  background-image: url(../../assets/img/ventures/lokal-orange.png);
}

#partners a {
  transition: all 0.2s ease-in-out;
  background-size: cover;
  /* min-height: 250px; */
  /* width: 250px; */
  margin: auto;
}

.ip1 {
  background-image: url(/assets/img/partners/1a.png);
}

.ip1:hover {
  background-image: url(../../assets/img/partners/1b.png);
}

.ip2 {
  background-image: url(/assets/img/partners/2a.png);
}

.ip2:hover {
  background-image: url(../../assets/img/partners/2b.png);
}

.ip3 {
  background-image: url(/assets/img/partners/3a.png);
}

.ip3:hover {
  background-image: url(../../assets/img/partners/3b.png);
}

.ip4 {
  background-image: url(/assets/img/partners/4a.png);
}

.ip4:hover {
  background-image: url(../../assets/img/partners/4b.png);
}

.ip5 {
  background-image: url(/assets/img/partners/5a.png);
}

.ip5:hover {
  background-image: url(../../assets/img/partners/5b.png);
}

.ip6 {
  background-image: url(/assets/img/partners/6a.png);
}

.ip6:hover {
  background-image: url(../../assets/img/partners/6b.png);
}

.ip7 {
  background-image: url(/assets/img/partners/7a.png);
}

.ip7:hover {
  background-image: url(../../assets/img/partners/7b.png);
}

.ip8 {
  background-image: url(/assets/img/partners/8a.png);
}

.ip8:hover {
  background-image: url(../../assets/img/partners/8b.png);
}

.ip9 {
  background-image: url(/assets/img/partners/9a.png);
}

.ip9:hover {
  background-image: url(../../assets/img/partners/9b.png);
}

.ip10 {
  background-image: url(/assets/img/partners/10a.png);
}

.ip10:hover {
  background-image: url(../../assets/img/partners/10b.png);
}

.ip11 {
  background-image: url(/assets/img/partners/11a.png);
}

.ip11:hover {
  background-image: url(../../assets/img/partners/11b.png);
}

.ip12 {
  background-image: url(/assets/img/partners/12a.png);
}

.ip12:hover {
  background-image: url(../../assets/img/partners/12b.png);
}

.ip13 {
  background-image: url(/assets/img/partners/13a.png);
}

.ip13:hover {
  background-image: url(../../assets/img/partners/13b.png);
}

.ip14 {
  background-image: url(/assets/img/partners/14a.png);
}

.ip14:hover {
  background-image: url(../../assets/img/partners/14b.png);
}

.ip15 {
  background-image: url(/assets/img/partners/15a.png);
}

.ip15:hover {
  background-image: url(../../assets/img/partners/15b.png);
}

.ip16 {
  background-image: url(/assets/img/partners/16a.png);
}

.ip16:hover {
  background-image: url(../../assets/img/partners/16b.png);
}
